html, body { 
    margin: 0; 
    height: 100%;
    background-color: #09569E;
}

div { 
	width: 100%;
}

div.header-tab {
	width: 100%;
	background-color: #09569E;
	height: 10%;
}

div.form-tab {
	text-align: center;
    line-height:30px;
    vertical-align:middle;
    color: white;
}

h1 {
    text-align: center;
    line-height:100px;
    vertical-align:middle;
    color: white;
}

hr.header-tab-hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}